%h1 Articles

-@articles.each do |article|
	.article
		%h1= link_to article.title, article
		%p
			Published at
			=link_to article.created_at.strftime("%b %d %Y"),article
		-content = strip_tags(article.content)
		%p= truncate(content,length: 200) 


